[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gymnasium = "*"
pyboy = "*"
stable-baselines3 = "*"
sb3-contrib = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.10"
